$OPERATE	FONT_SIZE		18	"Arial"		# Windows Font Size / Windows Font Name

$OPERATE	IMAGE_FOLDER		"GUI\Image"

$OPERATE	STEP_DISPLAY_COUNT	5			# Display Step Count in GUI [Left-Right](Max is 25)

$OPERATE	ITEM_MAXIMUM_COUNT	100			# Item Maximum Count(Max=250)
$OPERATE	ITEM_DISPLAY_COUNT	8			# Display Item Count in GUI [Up-Down] / Fixed Area Count in Top

$OPERATE	ITEM_DISPLAY_TEXT	61  62	8		# Item Display Default Style	: Default-Text-Style / Modified-Text_Style / Default-Text-Size

#$OPERATE	ITEM_DEFAULT_STEP	0  0	12		# Item Default Step Data Style	: Mode / DefaultStepData-Text_Style / DefaultStepData-Text-Size
								#				: Mode is 0 => All Data as Modified(Use Modified Style)
								#				:         1 => All Data as Not Modified 
								#				:         2 => All Data as DefaultStepData Style
								#				:         3 => All Data as Not Modified and Step Info is Modified(Use DefaultStepData Style)
								#				: If not Define This Tag , All Data as Not Modified and Step Info is Modified(Use Modified Style)

$POSITION	VIEW_AREA		358	100	780	740		#Cluster Recipe - "View" Screen Viewer

$POSITION	GROUP_RELOAD	19	60	27	90			# Group Reload Button		: X Start / Y Start / X Size / Y Size
$POSITION	GROUP_LIST		46	60	213	88			# Group List Button		: X Start / Y Start / X Size / Y Size

$POSITION	FILE_LIST		19	150	240	440			# File List Button		: X Start / Y Start / X Size / Y Size

$POSITION	FILE_RELOAD			19	596	135	31	"Reload"	# File Reload Button		: X Start / Y Start / X Size / Y Size / Button String
$POSITION	FILE_SEARCH			19	633	135	31	"Search"	# File Search Button		: X Start / Y Start / X Size / Y Size / Button String
$POSITION	FILE_SEARCH_STRING	159	633	100	31	""		# File Search Text Edit Box	: X Start / Y Start / X Size / Y Size / Default String

$POSITION	SEARCH_TOTAL		159	596	47	31			# Search Total Count Information Display	: XStart / YStart / XSize / YSize
$POSITION	SEARCH_FIND			212	596	47	31			# Search Find Count Information Display		: XStart / YStart / XSize / YSize


$POSITION	FILE_NEW		37   	680	58	58				# File [NEW] Button		: X Start / Y Start / X Size / Y Size
$POSITION	FILE_SAVE		112  	680	58	58				# File [SAVE] Button		: X Start / Y Start / X Size / Y Size
$POSITION	FILE_SAVEAS		187  	680	58	58				# File [SAVEAS] Button		: X Start / Y Start / X Size / Y Size
$POSITION	FILE_CANCEL		37  	750	58	58				# File [CANCEL] Button		: X Start / Y Start / X Size / Y Size
$POSITION	FILE_DELETE		112  	750	58	58				# File [DELETE] Button		: X Start / Y Start / X Size / Y Size
$POSITION	FILE_RENAME		187  	750	58	58				# File [RENAME] Button		: X Start / Y Start / X Size / Y Size
#$POSITION	FILE_EXPORT		296  722 58 58		"String"	# File [EXPORT] Button		: X Start / Y Start / X Size / Y Size / File Default and Filter String(A|B1-N:B1-F|B2-N:B2-F)
#$POSITION	FILE_SAVEASGROUP	296  783 58 58				# File [SAVEASGROUP] Button	: X Start / Y Start / X Size / Y Size



$POSITION	STEP_INSERT		370	775	88	38				# Step [INSERT-BEFORE] Button	: X Start / Y Start / X Size / Y Size
$POSITION	STEP_INSERT2	460	775	88	38					# Step [INSERT-AFTER] Button	: X Start / Y Start / X Size / Y Size
$POSITION	STEP_REMOVE		550	775	88	38				# Step [REMOVE] Button		: X Start / Y Start / X Size / Y Size
$POSITION	STEP_COPY		640	775	88	38				# Step [COPY] Button		: X Start / Y Start / X Size / Y Size
$POSITION	STEP_LEFT		773	775	88	38				# Step [LEFT] Button		: X Start / Y Start / X Size / Y Size
$POSITION	STEP_RIGHT		958	775	88	38				# Step [RIGHT] Button		: X Start / Y Start / X Size / Y Size

$POSITION	STEP_SHOW_LEFT		868	775	40	38				# Step Left Display		: X Start / Y Start / X Size / Y Size
$POSITION	STEP_SHOW_RIGHT		911	775	40	38				# Step Right Display		: X Start / Y Start / X Size / Y Size
$POSITION	STEP_SHOW_ALL		1053	775	40	38				# Step All Display		: X Start / Y Start / X Size / Y Size
	
$POSITION	STEP_INFO		2	265	8	63	62			# Step Information Display	: Use / YStart / XSize / TextStyle / ModifyStepTextStyle
										#				: Use is 0 => Not Use Step Information
										#				:        1 => Step Name Display Only 
										#				:        2 => Step Name Display and Step Control 
										#				:        3 => Step Name Display and Step Control(Multi Copy Possible)

$POSITION	FILE_SHOW_NAME		534	218	566	29				# File Name Display		: X Start / Y Start / X Size / Y Size




$POSITION	ITEM_NAME_DRAW		325 20 60				# Item Name Display		: X Start / X Size / TextStyle

$POSITION	ITEM_DRAW_DATA		539 307	114 42				# Item Display Area Information	: X Start / Y Start / X Offset / Y Offset

$POSITION	ITEM_LINE_DRAW		532 300 114 42 13			# Item Line Draw		: X Start / Y Start / X Offset / Y Offset / LineColor


#StepType	ItemType	ItemMessage				SetMessage		FileString				X	Y	size	Min		Max		Text	img

$RECIPEM	ENUM	"Step Use"					"NO|YES"		"STEP_USE"				0	0	?			?                              
$RECIPEM	DIGITAL	"Ar Flow"					""				"AR_FLOW"  				0	0  	?			0 	150		?              
$RECIPEM	ANALOG	"Process Pressure"			"" 				"PROC_PRESS"			0	0	?			0	15		-7	0	?      
$RECIPEM	DIGITAL	"DC Power"					"" 				"DC_POWER"				0	0	?			0	1000	0	?      
$RECIPEM	DIGITAL	"Ramp Up Time"				""				"RAMP_UP_TIME"  		0	0	?			0	60		0	?
$RECIPEM	DIGITAL	"Process Time"				"" 				"PROC_TIME" 			0	0	?			0	120		0	?
$RECIPEM	DIGITAL	"Ramp Down Time"			"" 				"RAMP_DOWN_TIME" 		0	0	?			0	60		0	?