#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.1(2024.06.01) (Edit Date:2026/7/23 13:8:41)
#-----------------------------------------------------------------------------------------------------------
#-----------------------------------------------------------------------------------------------------------
$COLOR_TABLE_FILE	"GUI\Screen_Common\Table\Pallette.tbl"
#-----------------------------------------------------------------------------------------------------------
$IMAGE_LIBRARY		"GUI\Screen_Common\PMC_Image\Image_Library.dll"
$IMAGE_BACKGROUND	"$BACKGROUND\BackGround.dll"
#-----------------------------------------------------------------------------------------------------------
$EDIT_MODE		ON
$INFO_VIEW	ON
#-----------------------------------------------------------------------------------------------------------
$SCREEN_SIZE	1823	896
#-----------------------------------------------------------------------------------------------------------
#--------
$PAGE_START		"1. Process Screen"
#--------
doPVDTurboPumpPower_LED	D_IN_OUT	546	471	IMG		2705	""
"PROCESS SCREEN - PM2"	TS_IN	0	8	TXTU_24(1822:34:Arial::White)	0	""
avArCvgGaugePressure	A_IN	170	394	TXTU_16(60:26::::White)	0	""
avCvgGaugePressure	A_IN	879	423	TXTU_16(88:26::::White)	0	""
avCdgGaugePressure	A_IN	878	462	TXTU_16(88:26::::White)	0	""
avIonGaugePressure	A_IN	878	501	TXTU_16(88:26::::White)	0	""
avForelinePressure	A_IN	753	598	TXTU_16(88:26::::White)	0	""
avArGasFlowPV	A_IN	290	336	TXTU_16(55:25::::White)	0	""
doPVDDryPumpPower_LED	D_IN_OUT	658	644	IMG		2705	""
"TurboPump"	TS_IN	547	472	TXTU_16(163:28::W::22)	0	""
"DryPump"	TS_IN	659	641	TXTU_16(163:28::W::22)	0	""
avArGasFlowSP	A_IN	377	440	TXTU_16(60:26::::White)	0	""
avDcTargetPowerSP	A_IN	231	576	TXTU_16(88:26::::White)	0	""
"avDcTargetPowerSP"	TS_IN	47	571	TXTU_16(154:37::W:OffWhite)	0	""
"avDcTargetPowerPV"	TS_IN	46	612	TXTU_16(154:37::W:OffWhite)	0	""
avDcTargetPowerPV	A_IN	231	617	TXTU_16(88:26::::White)	0	""
"avArGasFlowSP"	TS_IN	330	405	TXTU_16(154:37::W:OffWhite)	0	""
"avArGasFlowPV"	TS_IN	243	303	TXTU_16(154:37::W:OffWhite)	0	""
"avTurboRPM"	TS_IN	44	686	TXTU_16(154:37::W:OffWhite)	0	""
avTurboRPM	A_IN	231	689	TXTU_16(88:26::::White)	0	""
"avForelinePressure"	TS_IN	732	569	TXTU_16(154:37::W:OffWhite)	0	""
"avArCvgGaugePressure"	TS_IN	109	417	TXTU_16(187:37::W:OffWhite)	0	""
doPVDSlowVentValve_LED	D_IN	488	265	IMG		2509	""
"SlowVentValve"	TS_IN	424	224	TXTU_16(154:37::W:OffWhite)	0	""
"FastVentValve"	TS_IN	428	322	TXTU_16(154:37::W:OffWhite)	0	""
doPVDFastVentValve_LED	D_IN	489	296	IMG		2509	""
doPVDProcGasValve_LED	D_IN	239	366	IMG		2509	""
"ArGasValve"	TS_IN	236	373	TXTU_16(154:37::W:OffWhite)	0	""
doPVDForelineValve_LED	D_IN	618	567	IMG		2512	""
doPVDLowVacValve_LED	D_IN	726	521	IMG		2512	""
doPVDHighVacValve_LED	D_IN	618	431	IMG		2512	""
"LowVacValve"	TS_IN	722	520	TXTU_16(154:37::W:OffWhite)	0	""
"ForelineValve"	TS_IN	496	565	TXTU_16(154:37::W:OffWhite)	0	""
"HighVacValve"	TS_IN	498	428	TXTU_16(154:37::W:OffWhite)	0	""
doPVDIdle_LED	D_IN_OUT	212	71	IMG		2701	""
"doPVDIdle_LED"	TS_IN	62	69	TXTU_16(154:37::W:OffWhite)	0	""
doPVDProcess_LED	D_IN_OUT	211	113	IMG		2701	""
"doPVDProcess_LED"	TS_IN	63	112	TXTU_16(154:37::W:OffWhite)	0	""
doPVDVacuum_LED	D_IN_OUT	210	154	IMG		2701	""
"doPVDVacuum_LED"	TS_IN	62	152	TXTU_16(154:37::W:OffWhite)	0	""
"doPVDPN2SupplyValve"	TS_IN	274	66	TXTU_16(154:37::W:OffWhite)	0	""
doPVDPN2SupplyValve	D_IN_OUT	424	70	IMG		2701	""
"doPVDMagnetronSpeed"	TS_IN	275	108	TXTU_16(154:37::W:OffWhite)	0	""
doPVDMagnetronSpeed	A_IN	436	115	TXTU_16(55:25::::White)	0	""
doPVDPN2SupplyValve	D_IN	211	300	IMG		2509	""
"PN2Valve"	TS_IN	152	266	TXTU_16(154:37::W:OffWhite)	0	""
"doPVDTurboReady"	TS_IN	273	152	TXTU_16(154:37::W:OffWhite)	0	""
doPVDTurboReady	D_IN_OUT	429	154	IMG		2701	""
"diPM2GateUpSen"	TS_IN	527	66	TXTU_16(154:37::W:OffWhite)	0	""
diPM2GateUpSen	D_IN_OUT	667	69	IMG		2701	""
"apBasePressure"	TS_IN	46	733	TXTU_16(154:37::W:OffWhite)	0	""
apBasePressure	A_IN	233	736	TXTU_16(88:26::::White)	0	""
avPN2GasFlowPV	A_IN	291	270	TXTU_16(55:25::::White)	0	""
"avPN2GasFlowPV"	TS_IN	244	237	TXTU_16(154:37::W:OffWhite)	0	""
SCHEDULER_MAINT_PM2	FUNCTION	1116	264	120	40	"\PM2.dvVacuumStatus==0"	"PUMP_DOWN"	"Do you want to go Pump Down?"	""
SCHEDULER_MAINT_PM2	FUNCTION	1274	264	123	37	"\PM2.dvVacuumStatus==1"	"VENT"	"Do you want to go Vent?"	""
"PUMP DOWN"	TS_IN	1115	264	TXTU_16(124:39::W::LightGray)	0	"PM2.dvVacuumStatus==0"
"PUMP DOWN"	TS_IN	1115	264	TXTU_16(124:39::W::DarkGray)	0	"PM2.dvVacuumStatus!=0"
"VENT"	TS_IN	1274	264	TXTU_16(124:39::W::LightGray)	0	"PM2.dvVacuumStatus==1"
"VENT"	TS_IN	1274	264	TXTU_16(124:39::W::DarkGray)	0	"PM2.dvVacuumStatus!=1"
#--------
$PAGE_START		"1. Manual Screen"
#--------
"MANUAL SCREEN - PM2"	TS_IN	0	8	TXTU_24(1822:34:Arial::White)	0	""
doPVDIdle_LED	D_IN_OUT	652	182	IMG		2701	""
doPVDProcess_LED	D_IN_OUT	652	256	IMG		2701	""
doPVDVacuum_LED	D_IN_OUT	652	325	IMG		2701	""
doPVDProcGasValve_LED	D_IN_OUT	652	396	IMG		2701	""
doPVDFastVentValve_LED	D_IN_OUT	652	468	IMG		2701	""
doPVDSlowVentValve_LED	D_IN_OUT	652	539	IMG		2701	""
doPVDDryPumpPower_LED	D_IN_OUT	1151	191	IMG		2701	""
doPVDHighVacValve_LED	D_IN_OUT	1151	257	IMG		2701	""
doPVDTurboPumpPower_LED	D_IN_OUT	1151	327	IMG		2701	""
doPVDLowVacValve_LED	D_IN_OUT	1151	400	IMG		2701	""
doPVDForelineValve_LED	D_IN_OUT	1151	468	IMG		2701	""
