#--------------------------------------------------------------------------
$$$ Digital
#--------------------------------------------------------------------------
############################################################################################################################
#	Digital Output
############################################################################################################################
#								|IN								|OUT
# Name				Enum		Driver	ID1	ID2	ID3	ID4	Poll	Driver	ID1	ID2	ID3	ID4
# ----				------		------		---	---	---	---	----	------		---	---	---	----
doRbHomeMove		HomeMode	-		-	-	-	-	1	PAIX		1	1	1	-	
doRbCurrent			OffOn		-		-	-	-	-	1	PAIX		1	2	1	-
doRbStop			OffOn		-		-	-	-	-	1	PAIX		1	3	1	-
doRbJog				JogPos		-		-	-	-	-	1	PAIX		1	4	1	-
doRbSetSpd			OffOn		-		-	-	-	-	1	PAIX		1	5	1	-	
doRbSetHomeSpd		OffOn		-		-	-	-	-	1	PAIX		1	6	1	-
	
doRbXRetExt			RETEX		-		-	-	-	-	1	PAIX		0	26	-	-	
doRbZDnup			DownUp		-		-	-	-	-	1	PAIX		0	24	-	-

#############################################################################################################################
#	Digital Input
#############################################################################################################################
diHomePosSen		OffOn		PAIX	0	28	-	-	1
diLLPosSen			OffOn		PAIX	0	28	-	-	1

diRbHomingSts		eHoming		PAIX	1	1	1	-	1
diRbBusySts			eBusy		PAIX	1	2	1	-	1

diRbExtendSen		OffOn		PAIX	0	25	-	-	1	
diRbRetractSen		OffOn		PAIX	0	24	-	-	1
	
diRbZUpSen			OffOn		PAIX	0	26	-	-	1
diRbZDownSen		OffOn		PAIX	0	27	-	-	1

#--------------------------------------------------------------------------
$$$ Analog
#--------------------------------------------------------------------------
#									|IN											|OUT
#   Name				Units		Driver	ID1	ID2	ID3	Dev	Min		Max	Poll	Driver	ID1	ID2	ID3	Dev	Min		Max
#   ----				-----		------		---	---	---	---	---		---	----	------		---	---	---	---	---		---
aoRbSetPos			mm		-		-	-	-	0	0		2000	1	PAIX		1	0	1	0	0		2000
aoRbCurPos			mm		-		-	-	-	0	0		2000	1	PAIX		1	1	1	0	0		2000
aoRbAbsPos			mm		-		-	-	-	0	0		2000	1	PAIX		1	2	1	0	0		2000	
aoRbRelPos			mm		-		-	-	-	0	-1200	1200	1	PAIX		1	3	1	0	-1200	1200	
aoRbResetPos		mm		-		-	-	-	0	0		2000	1	PAIX		1	4	1	0	0		2000
	
aoRbSetStartSpd		mm/min	-		-	-	-	0	0		2000	1	PAIX		1	5	10	0	0		2000	
aoRbSetAccelSpd		mm/min	-		-	-	-	0	0		2000	1	PAIX		1	5	11	0	0		2000	
aoRbSetDecelSpd		mm/min	-		-	-	-	0	0		2000	1	PAIX		1	5	12	0	0		2000	
aoRbSetDrvSpd		mm/min	-		-	-	-	0	0		2000	1	PAIX		1	5	13	0	0		2000	

aoRbHomeSpd0		mm/min	-		-	-	-	0	0		5		1	PAIX		1	6	10	0	0		10
aoRbHomeSpd1		mm/min	-		-	-	-	0	0		5		1	PAIX		1	6	11	0	0		10
aoRbHomeSpd2		mm/min	-		-	-	-	0	0		5		1	PAIX		1	6	12	0	0		10
aoRbOffsetSpd		mm/min	-		-	-	-	0	0		5		1	PAIX		1	6	13	0	0		10

aiRbCurPos			mm		PAIX	1	0	1	0	0		2000	1
aiRbCmdPos			mm		PAIX	1	1	1	0	0		2000	1