#-----------
#ID1 :	0 : DIO 
#		1 : MOTOR
#-----------
#ID3 :	0 : DevNozzle
#		1 : RobotArm
#-----------

#--------------------------------------------------------------------------
$$$ Digital
#	Digital Output
#								|IN							|OUT
# Name				Enum			Driver	ID1	ID2	ID3	ID4	Poll	Driver	ID1	ID2	ID3	ID4
# ----					------			------		---	---	---	---	----	------		---	---	---	---

doPM2Gate			        OpenClose	-		-	-	-	-	1	PAIX		0	0	-	-

doPVDIdle_LED              OffOn       -		-	-	-	-	1	PAIX		0	2	-	-   
doPVDProcess_LED           OffOn       -		-	-	-	-	1	PAIX		0	3	-	-
doPVDVacuum_LED            OffOn       -		-	-	-	-	1	PAIX		0	4	-	-
doPVDProcGasValve_LED      CloseOpen   -		-	-	-	-	1	PAIX		0	5	-	-
doPVDFastVentValve_LED     CloseOpen   -		-	-	-	-	1	PAIX		0	6	-	-
doPVDSlowVentValve_LED     CloseOpen   -		-	-	-	-	1	PAIX		0	7	-	-

doPVDDryPumpPower_LED       OffOn       -		-	-	-	-	1	PAIX		0	16	-	-
doPVDHighVacValve_LED       OffOn       -		-	-	-	-	1	PAIX		0	17	-	-
doPVDTurboPumpPower_LED     OffOn       -		-	-	-	-	1	PAIX		0	18	-	-
doPVDLowVacValve_LED        OffOn       -		-	-	-	-	1	PAIX		0	19	-	-
doPVDForelineValve_LED      OffOn       -		-	-	-	-	1	PAIX		0	20	-	-


doPVDPN2SupplyValve         OffOn       -       -   -   -   -   1   -           -   -   -   -   Off
doPVDMagnetronSpeed         -           -       -   -   -   -   1   -           -   -   -   -   1   500

doPVDTurboReady             OffOn      -        -   -   -   -   1

#	Digital Input

diPM2GateUpSen		OffOn		PAIX	0	0	-	-	1
diPM2GateDownSen	OffOn		PAIX	0	1	-	-	1


#--------------------------------------------------------------------------
$$$ Analog
#	Analog Output
#				|IN											|OUT
#   Name			Units	Driver		ID1	ID2	ID3	Dec	Min		Max		Poll	Driver	ID1	ID2	ID3	Dec	Min		Max
#   ----			-----	------		---	---	---	---	------		------		----	------		---	---	---	---	------		------

avIonGaugePressure			Torr	-	-	-	-	-2	0		15		1	#-	-	-	-	-2	0		15
avCdgGaugePressure			Torr	-	-	-	-	-2	0		0.1		1	#-	-	-	-	-2	0		0.1
avCvgGaugePressure			Torr	-	-	-	-	-2	0		22		1	#-	-	-	-	-2	0		22
avArCvgGaugePressure		Torr	-	-	-	-	-2	0		22		1	#-	-	-	-	-2	0		22
avForelinePressure			Torr	-	-	-	-	-2	0		22		1	#-	-	-	-	-2	0		22

avArGasFlowPV				sccm	-	-	-	-	0	0		150		1	#-	-	-	-	0	0		150	
avArGasFlowSP				sccm	-	-	-	-	0	0		150		1	-	-	-	-	0	0		150	
avPN2GasFlowPV				sccm	-	-	-	-	0	0		200		1	-	-	-	-	0	0		200	

avDcTargetPowerSP			W		-	-	-	-	0	0		20000	1	-	-	-	-	0	0		20000
avDcTargetPowerPV			W		-	-	-	-	0	0		20000	1	#-	-	-	-	0	0		20000

avTurboRPM					rpm		-	-	-	-	0	0		100		1
apBasePressure				Torr	-	-	-	-	-2	0		15		1


#	Analog Input
