#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2026/7/19 23:59:22)
#-----------------------------------------------------------------------------------------------------------
#-----------------------------------------------------------------------------------------------------------
$COLOR_TABLE_FILE	"GUI\Screen_Common\Table\Pallette.tbl"
#-----------------------------------------------------------------------------------------------------------
$IMAGE_LIBRARY		"GUI\Screen_Common\PMC_Image\Image_Library.dll"
$IMAGE_BACKGROUND	"$BACKGROUND\BackGround.dll"
#-----------------------------------------------------------------------------------------------------------
$EDIT_MODE		ON
$INFO_VIEW	ON
#-----------------------------------------------------------------------------------------------------------
$SCREEN_SIZE	1823	896
#-----------------------------------------------------------------------------------------------------------
#--------
$PAGE_START		"1. Process Screen"
#--------
"PROCESS SCREEN - PM1"	TS_IN	0	8	TXTU_24(1822:34:Arial::White)	0	""
PM1.avRCP_Progress	A_IN	489	803	IMGDLL	"K:\Imgdll\BarGraph.dll"	""	0	0	2	227	25	15.000	1.000	0.000	""	""	""
-	D_DRAW	169	805	IMG		557	""
PM1.svRCP_Name	S_IN	574	719	TXTU_16(140:26:Arial::White)	15	"\PM1.UserLevelControl>3"
PM1.svRCP_StepName	S_IN	717	718	TXTU_16(140:26:Arial::White)	15	""
PM1.avRCP_Total_SetTime	A_IN	574	745	TXTU_16(93:27:Arial::White)	11	""
PM1.avRCP_Total_RunTime	A_IN	574	773	TXTU_16(93:27:Arial::White)	11	""
PM1.avRCP_Step_SetTime	A_IN	717	745	TXTU_16(93:27:Arial::White)	11	""
PM1.avRCP_Step_RunTime	A_IN	717	773	TXTU_16(93:27:Arial::White)	11	""
PM1.dvRCP_StepNumber	D_IN	731	802	TXTU_16(32:27:Arial::White)	3	""
PM1.dvRCP_MaxStep	D_IN	773	802	TXTU_16(32:27:Arial::White)	3	""
PM1.svRCP_Process_Message	S_IN	168	831	TXTU_16(310:24:Arial::White::White:White:)	26	""
PM1.dvRCP_Process_Control	D_IN_OUTSET	496	833	IMG		2310	"PM1.dvRCP_Process_Status==1\(PM1.dvRCP_Process_Control==0||PM1.dvRCP_Process_Control==2)"	1
PM1.dvRCP_Process_Control	D_IN_OUTSET	585	835	IMG		2311	"PM1.dvRCP_Process_Status==1\(PM1.dvRCP_Process_Control==1)"	2
PM1.dvRCP_Process_Control	D_IN_OUTSET	675	835	IMG		2312	"PM1.dvRCP_Process_Status==1\(PM1.dvRCP_Process_Control==0||PM1.dvRCP_Process_Control==1||PM1.dvRCP_Process_Control==2||PM1.dvRCP_Process_Control==3)"	3
PM1.dvRCP_Process_Control	D_IN_OUTSET	765	835	IMG		2313	"PM1.dvRCP_Process_Status==1\(PM1.dvRCP_Process_Control==0||PM1.dvRCP_Process_Control==1||PM1.dvRCP_Process_Control==2||PM1.dvRCP_Process_Control==4)"	4
PM1.dvRCP_Process_Control	D_IN_OUTSET	343	740	IMG		2314	"PM1.dvRCP_Process_Status==1\(PM1.dvRCP_Process_Control==0||PM1.dvRCP_Process_Control==1||PM1.dvRCP_Process_Control==2||PM1.dvRCP_Process_Control==5)"	5
PM1.dvMAIN_CONTROL	D_IN	1037	753	IMG		615	""
SCHEDULER_MAINT_PM1	FUNCTION_ABORT	1037	753	140	40	"\(PM1.dvMAIN_CONTROL!=0)"	""	"Do you want to Abort Program??"	"YES|Cancel"
$HELP	Z=80.000
-	D_DRAW	270	226	IMGB	525	"PM1.dvRCP_Process_Status==1"
$HELP	Z=80.000
CTC.PM1_Wafer_Result	D_IN	329	370	IMG		6	"CTC.PM1_Wafer_Status>0"
PM1.svRCP_File	S_IN_OUTFOC	169	805	TXTU_20(310:24:Arial:)	21	"\(CTC.PM1M_CONTROL==0)"	"Select Recipe Name"	"RECIPE\%s\Process\Pm1|*.*"
CTC.PM1_ControlStatus	D_IN	390	693	TXTU_16(90:26:Arial::White)	9	""
CTC.PM1_ControlStatus	D_IN	175	740	IMG		616	""
SCHEDULER_MAINT_TOP	FUNCTION	175	740	140	40	"\(CTC.PM1_ControlStatus==3)"	"PROCESS"	"Do you want to Start Program(Process Run)??"	"YES|Cancel"
CTC.PM1_ControlStatus	D_IN	874	707	IMG		614	"CTC.PM1_ControlStatus!=5"
SCHEDULER_MAINT_TOP	FUNCTION	874	707	140	40	"\(CTC.PM1_ControlStatus==7)"	"GO_MAINT"	"Do you want to Start the Maintenance?"	"YES|Cancel"
CTC.PM1_ControlStatus	D_IN	874	707	IMG		614	"CTC.PM1_ControlStatus!=7"
SCHEDULER_MAINT_TOP	FUNCTION	874	707	140	40	"\(CTC.PM1_ControlStatus==5)"	"GO_MAINT"	"Do you want to Start the Maintenance?"	"YES|Cancel"
CTC.PM1_ControlStatus	D_IN	874	754	IMG		612	"(CTC.PM1_ControlStatus!=3)"
SCHEDULER_MAINT_TOP	FUNCTION	874	754	140	40	"\(CTC.PM1_ControlStatus==1)"	"GO_INIT"	"Do you want to Start the Initialization?"	"YES|Cancel"
CTC.PM1_ControlStatus	D_IN	874	754	IMG		612	"(CTC.PM1_ControlStatus!=1)"
SCHEDULER_MAINT_TOP	FUNCTION	874	754	140	40	"\(CTC.PM1_ControlStatus==3)"	"GO_INIT"	"Do you want to Start the Initialization?"	"YES|Cancel"
CTC.PM1_ControlStatus	D_IN	874	801	IMG		613	""
SCHEDULER_MAINT_TOP	FUNCTION	874	801	140	40	"\(CTC.PM1_ControlStatus==3)"	"GO_STANDBY"	"Do you want to Start the Standby Mode?"	"YES|Cancel"
CTC.PM1M_CONTROL	D_IN	1037	753	IMG		615	""
SCHEDULER_MAINT_TOP	FUNCTION_ABORT	1037	753	140	40	"\(CTC.PM1M_CONTROL!=0)"	""	"Do you want to Abort Program??"	"YES|Cancel"
"Nozzle"	TS_IN	690	222	TXTU_24(126:231:Arial:W:White:539:White:White:)	0	""
"Nozzle"	TS_IN	816	222	TXTU_24(299:39:Arial:W:White:539:White:White:)	0	""
"Current Pos"	TS_IN	816	261	TXTU_20(150:64:Arial:W:White:538:White:White:)	0	""
"Command Pos"	TS_IN	816	325	TXTU_20(150:64:Arial:W:White:538:White:White:)	0	""
"Home Sensor"	TS_IN	816	389	TXTU_20(150:64:Arial:W:White:538:White:White:)	0	""
aiDevNozCurPos	A_IN	966	261	TXTU_16(149:64:Arial::White::White:White:)	0	""
aiDevNozCmdPos	A_IN	966	325	TXTU_16(149:64:Arial::White::White:White:)	0	""
diDevNozHomeSen	D_IN	966	389	TXTU_16(149:64:Arial::White::White:White:)	0	""
#--------
$PAGE_START		"1. Manual Screen"
#--------
"MANUAL SCREEN - PM1"	TS_IN	0	8	TXTU_24(1822:34:Arial::White)	0	""
$HELP	Z=80.000
-	D_DRAW	268	227	IMGB	525	"PM1.dvRCP_Process_Status==1"
$HELP	Z=80.000
CTC.PM1_Wafer_Result	D_IN	326	371	IMG		6	"CTC.PM1_Wafer_Status>0"
"Home Sensor"	TS_IN	966	552	TXTU_20(150:36:Arial:W:White:539:MediumGray:MediumGray:)	0	""
"Developer"	TS_IN	704	228	TXTU_23(508:30:Arial:W:White:539:MediumGray:MediumGray:)	0	""
"Move Control"	TS_IN	704	258	TXTU_23(508:30:Arial:W:White:539:MediumGray:MediumGray:)	0	""
"Home"	TS_IN	731	301	TXTU_16(200:40:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"Home"	TS_IN	731	301	TXTU_16(200:40:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	731	301	200	40	"\CTC.PM1M_CONTROL!=1"	"HOME"	"Do you want to Home(Developer)?"	""
"Pos Set"	TS_IN	704	353	TXTU_20(126:35:Arial:W:White:539:MediumGray:MediumGray:)	0	""
"Start"	TS_IN	1087	311	TXTU_16(123:33:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"Start"	TS_IN	1087	311	TXTU_16(123:33:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	1087	311	123	33	"\CTC.PM1M_CONTROL!=1"	"START"	"Do you want to go Start(Developer)?"	""
"EDGE1"	TS_IN	1087	354	TXTU_16(123:33:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"EDGE1"	TS_IN	1087	354	TXTU_16(123:33:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_TOP	FUNCTION	1087	354	123	33	"\CTC.PM1M_CONTROL!=1"	"EDGE1"	"Do you want to go Edge1(Developer)?"	""
"CENTER"	TS_IN	1087	397	TXTU_16(123:33:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"CENTER"	TS_IN	1087	397	TXTU_16(123:33:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	1087	397	123	33	"\CTC.PM1M_CONTROL!=1"	"CENTER"	"Do you want to go Center(Developer)?"	""
"EDGE2"	TS_IN	1087	440	TXTU_16(123:33:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"EDGE2"	TS_IN	1087	440	TXTU_16(123:33:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	1087	440	123	33	"\CTC.PM1M_CONTROL!=1"	"EDGE2"	"Do you want to go Edge2(Developer)?"	""
"END"	TS_IN	1087	483	TXTU_16(123:33:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"END"	TS_IN	1087	483	TXTU_16(123:33:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	1087	483	123	33	"\CTC.PM1M_CONTROL!=1"	"END"	"Do you want to go End(Developer)?"	""
-	G_DRAW	704	288	254	66	""	RECT	""	MediumGray	1	0	Blank	0
avDevNozSetPos	A_IN_OUT	704	388	TXTU_16(126:28:Arial::White::MediumGray:MediumGray:)	0	""
-	G_DRAW	830	353	128	64	""	RECT	""	MediumGray	1	0	Blank	0
"Move"	TS_IN	836	365	TXTU_16(116:40:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"Move"	TS_IN	836	365	TXTU_16(116:40:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	836	365	116	40	"\CTC.PM1M_CONTROL!=1"	"MOVE"	"Do you want to Move(Developer)?"	""
"EndPos Set"	TS_IN	704	416	TXTU_20(126:35:Arial:W:White:539:MediumGray:MediumGray:)	0	""
avDevNozSetEndPos	A_IN_OUT	704	451	TXTU_16(126:28:Arial::White::MediumGray:MediumGray:)	0	""
"Spd Set"	TS_IN	704	479	TXTU_20(126:35:Arial:W:White:539:MediumGray:MediumGray:)	0	""
aoDevNozSetDriveSpd	A_IN_OUT	704	514	TXTU_16(126:28:Arial::White::MediumGray:MediumGray:)	0	""
-	G_DRAW	830	416	128	127	""	RECT	""	MediumGray	1	0	Blank	0
"SHUTTLE"	TS_IN	836	431	TXTU_16(116:40:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"SHUTTLE"	TS_IN	836	431	TXTU_16(116:40:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	836	431	116	40	"\CTC.PM1M_CONTROL!=1"	"SWING_SHUTTLE"	"Do you want to Swing Shuttle(Developer)?"	""
"ONEWAY"	TS_IN	836	488	TXTU_16(116:40:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"ONEWAY"	TS_IN	836	488	TXTU_16(116:40:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	836	488	116	40	"\CTC.PM1M_CONTROL!=1"	"SWING_ONEWAY"	"Do you want to Swing OneWay(Developer)?"	""
"Move Option"	TS_IN	957	288	TXTU_23(126:254:Arial:W:White:539:MediumGray:MediumGray:)	0	""
-	G_DRAW	1083	288	130	255	""	RECT	""	MediumGray	1	0	Blank	0
"Flow Control"	TS_IN	704	552	TXTU_20(254:30:Arial:W:White:539:MediumGray:MediumGray:)	0	""
"Set"	TS_IN	704	582	TXTU_20(126:30:Arial:W:White:539:MediumGray:MediumGray:)	0	""
avDevNozFlow	A_IN_OUT	704	612	TXTU_16(126:36:Arial::White::MediumGray:MediumGray:)	0	""
-	G_DRAW	830	582	129	67	""	RECT	""	MediumGray	1	0	Blank	0
"FLOW"	TS_IN	836	595	TXTU_16(116:40:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==1"
"FLOW"	TS_IN	836	595	TXTU_16(116:40:Arial:W::LightGray)	0	"PM1.dvMAIN_CONTROL==0"
SCHEDULER_MAINT_PM1	FUNCTION	836	595	116	40	"\CTC.PM1M_CONTROL!=1"	"FLOW"	"Do you want to Flow(Developer)?"	""
"Abort Control"	TS_IN	704	657	TXTU_20(254:30:Arial:W:White:539:MediumGray:MediumGray:)	0	""
-	G_DRAW	704	687	255	67	""	RECT	""	MediumGray	1	0	Blank	0
"ABORT"	TS_IN	756	699	TXTU_16(150:40:Arial:W::DarkGray)	0	"PM1.dvMAIN_CONTROL==0"
"ABORT"	TS_IN	756	699	TXTU_16(150:40:Arial:W::76)	0	"PM1.dvMAIN_CONTROL==1"
SCHEDULER_MAINT_PM1	FUNCTION_ABORT	756	699	150	40	""	"ABORT"	""	""
diDevNozHomeSen	D_IN	966	588	TXTU_16(150:36:Arial::White::MediumGray:MediumGray:)	0	""
"Current Pos"	TS_IN	966	633	TXTU_20(150:36:Arial:W:White:539:MediumGray:MediumGray:)	0	""
aiDevNozCurPos	A_IN	966	669	TXTU_16(150:36:Arial::White::MediumGray:MediumGray:)	0	""
"busy"	TS_IN	966	717	TXTU_20(150:36:Arial:W:White:539:MediumGray:MediumGray:)	0	""
diDevNozBusySts	D_IN	966	753	TXTU_16(150:36:Arial::White::MediumGray:MediumGray:)	0	""
