#1 System Identification
SYSTEM						TERM

#2 information save
INFORMATION_SAVE			NO

#3 All Message save
MESSAGE_SAVE				NO

#4 Event Message save
EVENT_SAVE					YES

#5 io definition file
IO_DRIVER					uLoad
IO						IO/iodefine.io

#6 Setpoint Interlock
S_INTLKS				Interlock/Indexer_Setpoint.int
#S_INTLKS				Interlock/PM1_Setpoint.int

#7 Value Interlock
V_INTLKS				Interlock/Indexer_Value.int
#V_INTLKS				Interlock/PM1_Value.int

#8 Alarm Management File
ALARM_MANAGEMENT_FILE		Alarm/alarm.cfg

#9 Alarm History File
#ALARM_HISTORY_FILE				History/alarm.log			DUMP	"History/AlarmDump"

#10 Function
FUNCTION					Function/FuncDef.dat

#11 Screen Navigation Management File
NAVIGATION					GUI/SETUP/navigation.cfg

#12 GUI Display
GUI_DISPLAY					On	0	0	1920		1080
#GUI_DISPLAY					On	0	0	2560		1600

#13 CONTROLPRO

#14 EASYCLUSTER_MODULE
#EASYCLUSTER_MODULE				Startup/EasyCluster_M.cfg

#15 EASYCLUSTER_CLUSTER
EASYCLUSTER_CLUSTER				<USE>
