#----------------------------------------------------------
#
#	SetDefault:	YES-Default
#			NO-AllUserSetting
#
#	AllLocation:	AllitemslocationSetting(Unit:pixel)-moveitemsbythisvalue,
#			xposition,yposition
#	AllScale:	AllitemsscaleSetting(Unit:%)-AllitemsscaleSetting
#	Font:		fontsize,fontname
#	
#====Option=======================================================
#	Control_Item_name-
#	x			-xposition
#	y			-yposition
#	width			-width
#	height			-height
#	Enable/Disable-buttonoption(incaseofbutton)
#=================================================================

SetDefault	NO

#===Main Screen===================================================
AllLocation	1	40	
AllScale	100
Font	15	"Arial"

#===POPUP Screen==================================================
POPUP	YES
POPUPScale	100
POPUPFont	12	"Arial"

#=================================================================
#Control_Item_name		x	y	width	height	Enable/Disable

#===page1(Job Manager Screen)=====================================
Group_FA_Spec_Registry		20	21	1201	253
Bnt_ALID_Registry		32	47	345	65	Enable
Bnt_CEID_Registry		387	47	345	65	Enable
Bnt_VID_SV_DV_Registry		32	122	345	65	Enable
Bnt_RCMD_Registry		387	122	345	65	Enable
Bnt_ECID_Registry		32	197	345	65	Enable
Bnt_RECIPE_Registry		387	197	345	65	Enable
Bnt_VID_Limit_Registry		742	47	345	65	Enable
Bnt_PFVID_Registry		742	122	345	65	Enable
Bnt_FILERELOAD			1097	46	114	214	Enable

Group_HOSTLINK			1342	21	302	121
Bnt_VID_HOST_LINK		1354	48	278	82	Enable

Group_Monitor			1342	153	302	121
Bnt_Monitor			1354	180	278	82	Enable

Group_FA_Option			1342	284	462	552
Bnt_Comm_Option			1354	311	214	75	Enable
Bnt_DataLog_Option		1578	311	214	75	Enable
Bnt_Timer_Option		1354	396	214	75	Enable
Bnt_System_Option		1578	396	214	75	Enable
Bnt_Recipe_Option		1354	481	214	75	Enable
Bnt_Parameter_Option1		1578	481	214	75	Enable
Bnt_Parameter_Option2		1354	566	214	75	Enable
Bnt_Parameter_Option3		1578	566	214	75	Enable
Bnt_Parameter_Option4		1354	651	214	75	Enable
Bnt_Reservation			1578	651	102	75	Enable
Bnt_User			1690	651	102	75	Enable
Bnt_EDA_Parameter_Option	1434	736	278	65	Enable

Group_FA_Recv_Message_List	20	284	1312	271
List_RECVMSG_LIST		33	311	1287	232

Group_FA_Send_Message_List	20	565	1312	271
List_SENDMSG_LIST		32	592	1287	232

#===page2(FA User Interface Config Screen)========================
EDIT_PRJOB_COUNT		20	20	120	30
Bnt_PJEDIT			1555	15	120	30	Enable
Bnt_REFRESH			1680	15	120	30	Enable
List_PRJOB			20	55	1780	180

EDIT_CTLJOB_COUNT		20	280	120	30
Bnt_PJCREATE			930	240	120	30	Enable
Bnt_PJSTART			1055	240	120	30	Enable
Bnt_PJPAUSE			1180	240	120	30	Enable
Bnt_PJRESUME			1305	240	120	30	Enable
Bnt_PJABORT			1430	240	120	30	Enable
Bnt_PJSTOP			1555	240	120	30	Enable
Bnt_PJCANCEL			1680	240	120	30	Enable

List_CTLJOB			20	315	1780	180
Bnt_CJEDIT			1290	500	120	30	Enable
Bnt_CJCREATE			1420	500	120	30	Enable
Bnt_CJHOQ			1550	500	120	30	Enable
Bnt_CJCANCEL			1680	500	120	30	Enable

List_RUNJOB			20	565	1780	180
Bnt_VFYPORT			20	750	89	30	Enable
Bnt_M_LOAD			114	750	89	30	Enable
Bnt_M_START			207	750	89	30	Enable

Bnt_CJSTART			1030	750	120	30	Enable
Bnt_CJPAUSE			1160	750	120	30	Enable
Bnt_CJRESUME			1290	750	120	30	Enable
Bnt_CJABORT			1420	750	120	30	Enable
Bnt_CJSTOP			1550	750	120	30	Enable
Bnt_CJDESELECT			1680	750	120	30	Enable