#------------------------------------------------------------------------------
# * Cluster Description File(Information)
#------------------------------------------------------------------------------
DESCRIPTION                 EC2000_CTC
INITIAL                     2001.01.01
REVISION                    2001.01.20
VERSION                     2.1-Beta-2

Process_Log_Mode	    Full	PROCESSJOB	# Engine V2.8 or later
CONTROLPROCESS_JOB	    ON
CARRIER_AUTO_MONITOR	    TMC_MONITOR_CR_HANDLER
#------------------------------------------------------------------------------
# * Using Chamber(Module) Set
# -> On(default) Off
#------------------------------------------------------------------------------
Module_Mode(C1)		On
Module_Mode(C2)		Off
Module_Mode(C3)		Off
Module_Mode(C4)		Off
Module_Mode(P1)		On
Module_Mode(P2)		On
Module_Mode(P3)		Off
Module_Mode(P4)		Off
Module_Mode(P5)		Off
Module_Mode(P6)		Off
Module_Mode(P7)		Off
Module_Mode(P8)		Off
Module_Mode(P9)		Off
Module_Mode(P10)	Off
Module_Mode(P11)	Off
Module_Mode(P12)	Off

Module_Mode(AL)		Off
Module_Mode(IC)		Off

Module_Mode(TM)		On

Module_Mode(FM)		Off

#Module_Mode(B1)	On	2	In(F)	Full			#case1
#Module_Mode(B2)	On	2	Out(FL)	Full			#case1
Module_Mode(B1)		Off	2	Switch(LF)	Full(1S)	#case2
Module_Mode(B2)		Off	2	Switch(LF)	Full(1S)	#case2
#Module_Mode(B1)	On	2	Switch(LF)	Full(MS)	#case3
#Module_Mode(B2)	On	2	Switch(LF)	Full(MS)	#case3
#Module_Mode(B1)	On	2	Switch(F)	Full(FS)	#case4
#Module_Mode(B2)	On	2	Switch(F)	Full(FS)	#case4
#Module_Mode(B1)	On	1	Switch(F)	Full(FS)	#case5
#Module_Mode(B2)	On	1	Switch(F)	Full(FS)	#case5
#Module_Mode(B1)	On	2	Switch(LF)	Full(FS)	#case6
#Module_Mode(B2)	Off	2	Switch(LF)	Full(FS)	#case6

Module_Mode(B3)		Off
Module_Mode(B4)		Off

Module_Mode(FAL)	On
Module_Mode(FIC)	Off

Module_SW_Control	On

Module_CommStatus		EXPAND
#------------------------------------------------------------------------------
# * Module Log Name
#------------------------------------------------------------------------------
Module_Log_Name(C1)	CM1
Module_Log_Name(C2)	CM2
Module_Log_Name(C3)	CM3
Module_Log_Name(C4)	CM4
Module_Log_Name(B1)	BM1
Module_Log_Name(B2)	BM2
Module_Log_Name(B3)	BM3
Module_Log_Name(B4)	BM4
#------------------------------------------------------------------------------
# * Sevice Handling Type for Event
# -> Remote(default) Local
#------------------------------------------------------------------------------
Service_Mode(C1)	Remote
Service_Mode(C2)	Local
Service_Mode(C3)	Local
Service_Mode(C4)	Local
Service_Mode(TM)	Remote
Service_Mode(P1)	Remote
Service_Mode(P2)	Remote
Service_Mode(P3)	Local
#Service_Mode(P1)	Local
#Service_Mode(P2)	Local
#Service_Mode(P3)	Local
Service_Mode(P4)	Local
Service_Mode(P5)	Local
Service_Mode(P6)	Local
Service_Mode(P7)	Local
Service_Mode(P8)	Local
Service_Mode(P9)	Local
Service_Mode(P10)	Local
Service_Mode(P11)	Local
Service_Mode(P12)	Local
Service_Mode(B1)	Local
Service_Mode(B2)	Local
Service_Mode(B3)	Local
Service_Mode(B4)	Local
Service_Mode(FM)	Local
#------------------------------------------------------------------------------
# 1 - 30 (default=25)
#------------------------------------------------------------------------------
MAX_CASSETTE_SLOT	    1
#------------------------------------------------------------------------------
#------------------------------------------------------------------------------
#------------------------------------------------------------------------------
#------------------------------------------------------------------------------
CLUSTER_RECIPE_PARALLEL_SUPPORT		On
CONTROL_RECIPE_TYPE			ALL_RECIPE
