#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2026/7/9 16:3:54)
#-----------------------------------------------------------------------------------------------------------
#-----------------------------------------------------------------------------------------------------------
$COLOR_TABLE_FILE	"$..\..\Screen_Common\Table\Pallette.tbl"
#-----------------------------------------------------------------------------------------------------------
$IMAGE_LIBRARY		"$IMGDLL\Image_Library.dll"
$IMAGE_BACKGROUND	"$BACKGROUND\BackGround.dll"
#-----------------------------------------------------------------------------------------------------------
$EDIT_MODE		ON
$INFO_VIEW	ON
#-----------------------------------------------------------------------------------------------------------
$SCREEN_SIZE	1183	840
#-----------------------------------------------------------------------------------------------------------
#--------
$PAGE_START		"PAGE 1"
#--------
Right_Operate_Main	D_IN_OUTSET	1	0	IMG		1002	""	1
Right_Operate_Recipe_Lot	D_IN_OUTSET	1	91	IMG		1003	""	1
Right_Operate_Recipe_Cluster	D_IN_OUTSET	1	182	IMG		1004	""	1
Right_Recipe_Lot	D_IN_OUTSET	1	0	IMG		1003	""	1
Right_Recipe_Cluster	D_IN_OUTSET	1	91	IMG		1004	""	1
Right_Recipe_Process	D_IN_OUTSET	1	182	IMG		1051	""	1
Right_Recipe_Process_Nav	D_IN_OUT	15	774	IMG		1751	""	1
Right_Maint_Process	D_IN_OUTSET	1	0	IMG		1050	""	1
Right_Maint_Process_Nav	D_IN_OUT	15	774	IMG		1751	""	1
Right_Maint_Manual	D_IN_OUTSET	1	91	IMG		1028	""	1
Right_Maint_Manual_Nav	D_IN_OUT	15	774	IMG		1751	""	1
Right_Maint_GlassSync	D_IN_OUTSET	1	274	IMG		1068	""	1
Right_Maint_DirectIO	D_IN_OUTSET	1	365	IMG		1018	""	1
Right_Config_System	D_IN_OUTSET	1	0	IMG		1043	""	1
Right_Config_CTC	D_IN_OUTSET	1	91	IMG		1017	""	1
Right_Utility_UserLevel	D_IN_OUTSET	1	0	IMG		1063	""	1
Right_Utility_AlarmHistory	D_IN_OUTSET	1	91	IMG		1015	""	1
Right_Utility_Interlock	D_IN_OUTSET	1	182	IMG		1080	""	1
Right_Utility_Plot	D_IN_OUTSET	1	274	IMG		1046	""	1
Right_Utility_Operate	D_IN_OUTSET	1	365	IMG		1022	""	1
Right_Maint_TransferGlass	D_IN_OUTSET	1	182	IMG		1062	""	1
