#
#
#
# Possible Object File
#

N	LOCAL	-	101	200	INDEXER
N	LOCAL	-	951	960	PM1
N	LOCAL	-	961	970	PM1
N	LOCAL	-	1001	2000	INTLK

$$$  ALARM/Indexer.Alarm	#	101-200

$$$  ALARM/DUMMY/PM1_DUMMY.Alarm	#	951-960
$$$  ALARM/DUMMY/PM2_DUMMY.Alarm	#	961-970
$$$  ALARM/DUMMY/PM3_DUMMY.Alarm	#	971-980

$$$  ALARM/Intlks.Alarm		#	1001~ InterLock Alarm