#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2026/6/26 14:37:27)
#-----------------------------------------------------------------------------------------------------------
#-----------------------------------------------------------------------------------------------------------
$COLOR_TABLE_FILE	"$..\..\Screen_Common\Table\Pallette.tbl"
#-----------------------------------------------------------------------------------------------------------
$IMAGE_LIBRARY		"$IMGDLL\Image_Library.dll"
$IMAGE_BACKGROUND	"$BACKGROUND\BackGround.dll"
#-----------------------------------------------------------------------------------------------------------
$EDIT_MODE		ON
#-----------------------------------------------------------------------------------------------------------
$SCREEN_SIZE	1918	90
#-----------------------------------------------------------------------------------------------------------
#--------
$PAGE_START		"PAGE 1"
#--------
Bottom_Operate	D_IN_OUTSET	0	1	IMG		1009	""	1
Bottom_Maint	D_IN_OUTSET	192	1	IMG		1027	""	1
Bottom_Recipe	D_IN_OUTSET	95	1	IMG		1010	""	1
Bottom_Utility	D_IN_OUTSET	385	1	IMG		1013	""	1
Bottom_Config	D_IN_OUTSET	288	1	IMG		1012	""	1
