#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2026/6/26 10:18:55 for Popup 53)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		"$BACKGROUND\Popup_BackGround\BACKGROUND_Popup_WaferEdit_1Slot.png"
#--------
CTC.PM1_Wafer_Source	D_IN_OUT	216	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.PM1_Wafer_Result	D_IN_OUT	36	53	IMG		5	"CTC.PM1_Wafer_Status>0\CTC.PM1_Wafer_Status>0"
CTC.PM1_Wafer_Status	D_IN_OUT	380	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
