#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2019/6/24 17:21:22 for Popup 51)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		1
#--------
