#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2026/6/26 10:19:45 for Popup 55)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		"$BACKGROUND\Popup_BackGround\BACKGROUND_Popup_WaferEdit_2Slot.png"
#--------
#CTC.TB_Wafer_Status	D_IN_OUT	496	92	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.TA_Wafer_Status	D_IN_OUT	496	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
#CTC.TB_Wafer_Result	D_IN_OUT	153	100	IMG		5	"CTC.TB_Wafer_Status>0\CTC.TB_Wafer_Status>0"
CTC.TA_Wafer_Result	D_IN_OUT	153	53	IMG		5	"CTC.TA_Wafer_Status>0\CTC.TA_Wafer_Status>0"
#CTC.TB_Wafer_Source	D_IN_OUT	332	92	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.TA_Wafer_Source	D_IN_OUT	332	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
#"Arm B"	TS_IN	5	79	TXTU_16(117:47:Arial:W:White)	0	""
"Arm A"	TS_IN	5	32	TXTU_16(117:47:Arial:W:White)	0	""
