#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2026/6/26 10:18:55 for Popup 52)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		"$BACKGROUND\Popup_BackGround\BACKGROUND_Popup_WaferCount.png"
#--------
#--------
$	POPUP_CLOSE	376	0	IMG	2010	""
#--------
CTC.CM1_CASS_COUNT	D_IN_OUT	87	96	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM2_CASS_COUNT	D_IN_OUT	87	124	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM1_PICK_COUNT	D_IN_OUT	162	96	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM2_PICK_COUNT	D_IN_OUT	162	124	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM1_PLACE_COUNT	D_IN_OUT	237	96	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM2_PLACE_COUNT	D_IN_OUT	237	124	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM3_CASS_COUNT	D_IN_OUT	87	152	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM4_CASS_COUNT	D_IN_OUT	87	179	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM3_PICK_COUNT	D_IN_OUT	162	152	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM4_PICK_COUNT	D_IN_OUT	162	180	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM3_PLACE_COUNT	D_IN_OUT	237	152	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.CM4_PLACE_COUNT	D_IN_OUT	237	180	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM1_PICK_COUNT	D_IN_OUT	162	208	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM2_PICK_COUNT	D_IN_OUT	162	236	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM3_PICK_COUNT	D_IN_OUT	162	264	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM4_PICK_COUNT	D_IN_OUT	162	292	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM1_PLACE_COUNT	D_IN_OUT	237	208	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM2_PLACE_COUNT	D_IN_OUT	237	236	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM3_PLACE_COUNT	D_IN_OUT	237	264	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM4_PLACE_COUNT	D_IN_OUT	237	292	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM1_PROCESS_COUNT	D_IN_OUT	312	208	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM2_PROCESS_COUNT	D_IN_OUT	312	236	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM3_PROCESS_COUNT	D_IN_OUT	312	264	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM4_PROCESS_COUNT	D_IN_OUT	312	292	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM1_FAIL_COUNT	D_IN_OUT	387	208	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM2_FAIL_COUNT	D_IN_OUT	387	236	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM3_FAIL_COUNT	D_IN_OUT	387	264	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
CTC.PM4_FAIL_COUNT	D_IN_OUT	387	292	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	"\(UserLevelControl>3)"
