#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2019/12/10 17:39:10 for Popup 81)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		5
#--------
CTC.FM_AL_Wafer_Status	D_IN_OUT	380	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.FM_AL_Wafer_Result	D_IN_OUT	36	53	IMG		5	"CTC.FM_AL_Wafer_Status>0"
CTC.FM_AL_Wafer_Source	D_IN_OUT	216	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
