#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2020/11/16 15:25:36 for Popup 80)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		6
#--------
CTC.FA_Wafer_Status	D_IN_OUT	496	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.FA_Wafer_Result	D_IN_OUT	153	53	IMG		5	"CTC.FA_Wafer_Status>0"
CTC.FA_Wafer_Source	D_IN_OUT	332	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.FB_Wafer_Status	D_IN_OUT	496	92	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.FB_Wafer_Result	D_IN_OUT	153	100	IMG		5	"CTC.FB_Wafer_Status>0"
CTC.FB_Wafer_Source	D_IN_OUT	332	92	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
"A Arm"	TS_IN	5	32	TXTU_16(117:47:Arial:W:White)	0	""
"B Arm"	TS_IN	5	79	TXTU_16(117:47:Arial:W:White)	0	""
