#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2026/6/25 15:49:52 for Popup 50)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		"$BACKGROUND\Popup_BackGround\BACKGROUND_Popup_LotControl.png"
#--------
-	D_DRAW	26	98	IMG		1805	"CTC.MAIN_CONTROL==0"
CTC.RECIPE_FILE	S_X_OUTFOC	26	98	167	33	"\CTC.MAIN_CONTROL==0"	"Select File Name"	"RECIPE\%s\LOT|*.*"
CTC.RECIPE_FILE	S_IN	26	138	TXTU_16(167:21:Arial::White)	17	""
CTC.IN_PATH	D_IN	35	256	TXTU_24(70:30:Arial::White)	5	"\CTC.MAIN_CONTROL==0"
-	D_DRAW	113	256	IMG		559	""
CTC.OUT_PATH	D_IN_OUT	113	256	TXTU_24(70:30:Arial:)	5	"\CTC.MAIN_CONTROL==0"
-	D_DRAW	35	332	IMG		559	""
CTC.START_SLOT	D_IN	35	332	TXTU_24(70:30:Arial:)	5	"\CTC.MAIN_CONTROL==0"
-	D_DRAW	113	332	IMG		559	""
CTC.END_SLOT	D_IN	113	332	TXTU_24(70:30:Arial:)	5	"\CTC.MAIN_CONTROL==0"
CTC.MAIN_CONTROL	D_IN	362	59	TXTU_20(125:25:Arial::White)	10	""
-	D_DRAW	50	412	IMG		553	""
CTC.LOOP_COUNT	D_IN_OUT	50	412	TXTU_24(120:30:Arial:)	11	"\CTC.MAIN_CONTROL==0"
CTC.DONE_CARR_STATUS	D_IN	362	91	TXTU_20(125:25:Arial::White)	10	""
CTC.DONE_WFR_STATUS	D_IN	362	123	TXTU_20(125:25:Arial::White)	10	""
CTC.MAIN_CONTROL	D_IN	240	222	IMG		2004	""
CTC.MAIN_CONTROL	D_IN	240	308	IMG		2006	""
CTC.MAIN_CONTROL	D_IN	377	222	IMG		2007	""
CTC.MAIN_CONTROL	D_IN	377	308	IMG		2005	""
CTC.END_CONTROL	D_IN	240	394	IMG		2017	"((CTC.MAIN_CONTROL==1)||(CTC.MAIN_CONTROL==2)||(CTC.MAIN_CONTROL==3)||(CTC.MAIN_CONTROL==6))&&(CTC.END_CONTROL==1)"
SCHEDULER	FUNCTION_EVENT	241	223	116	63	"\(CTC.MAIN_CONTROL==0)"	"STARTP(F)"	"Do You Want to Start Program??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	240	308	116	63	"\(CTC.MAIN_CONTROL==1)"	"PAUSE(F)"	"Do You Want to Pause Program??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	377	222	116	63	"\(CTC.MAIN_CONTROL==3)"	"CONTINUE(F)"	"Do You Want to Resume Program??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	377	308	116	63	"\(CTC.MAIN_CONTROL==1)||(CTC.MAIN_CONTROL==2)||(CTC.MAIN_CONTROL==3)"	"ABORT(F)"	"Do You Want to Abort Program??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	240	394	86	69	"\((CTC.MAIN_CONTROL==1)||(CTC.MAIN_CONTROL==2)||(CTC.MAIN_CONTROL==3)||(CTC.MAIN_CONTROL==6))&&(CTC.END_CONTROL==1)"	"END(F)"	"Do You Want to End Program??"	"YES|Cancel"
CTC.START_TIME	S_IN	371	398	TXTU_16(125:21:Arial::White)	17	""
CTC.END_TIME	S_IN	371	419	TXTU_16(125:21:Arial::White)	17	""
CTC.ELAPSED_TIME	S_IN	371	440	TXTU_16(125:21:Arial::White)	17	""
-	D_DRAW	331	154	IMG		557	""
CTC.JID_READ	S_IN_OUT	331	154	TXTU_20(160:27:Arial:)	10	""
#--------
$	POPUP_CLOSE	416	1	IMG	2010	""
#--------
