#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2019/12/10 17:39:10 for Popup 79)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		6
#--------
CTC.BM2_Wafer_Result	D_IN_OUT	153	100	IMG		5	"CTC.BM2_Wafer_Status>0"
CTC.BM2_Wafer_Result2	D_IN_OUT	153	53	IMG		5	"CTC.BM2_Wafer_Status2>0"
CTC.BM2_Wafer_Source	D_IN_OUT	332	92	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.BM2_Wafer_Source2	D_IN_OUT	332	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.BM2_Wafer_Status	D_IN_OUT	496	92	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
CTC.BM2_Wafer_Status2	D_IN_OUT	496	45	TXTU_16(71:24:Arial:::LightGray:White:DarkGray:)	5	""
"Slot1"	TS_IN	5	79	TXTU_16(117:47:Arial:W:White)	0	""
"Slot2"	TS_IN	5	32	TXTU_16(117:47:Arial:W:White)	0	""
