#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2024/11/9 12:3:22 for Popup 51)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		*17
#--------
MyFavoriteIdol	D_IN_OUT	68	77	TXTU_16(290:60::::White)	0	""
