#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2024/11/9 15:39:3 for Popup 50)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		1
#--------
BM1LiftPinInitialized	D_IN	459	93	IMG		2705	""
BM1LiftPinEnabled	D_IN	521	93	IMG		2705	""
BM1LiftPinIsHomed	D_IN	583	93	IMG		2705	""
BM1LiftPinIsMoving	D_IN	645	93	IMG		2705	""
BM1LiftPinPLimit	D_IN	707	93	IMG		2705	""
BM1LiftPinNLimit	D_IN	769	93	IMG		2706	""
BM1LiftPinIsError	D_IN	831	93	IMG		2706	""
BM1LiftPinIsCommError	D_IN	893	93	IMG		2706	""
BM1LiftPinIsDrvError	D_IN	955	93	IMG		2706	""
BM1LiftPinActPos	A_IN	149	84	TXTU_17(109:30:Verdana:W:147:229)	8	""
BM1LiftPinActVel	A_IN	305	84	TXTU_17(109:30:Verdana:W:147:229)	8	""
CTC.BM3M_CONTROL	D_IN	82	302	IMG		2018	""
SCHEDULER_MAINT_BM3	FUNCTION	82	302	61	25	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"INIT_LIFT_PIN"	"Do you want to Start Program(Initialize)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	154	302	IMG		2018	""
SCHEDULER_MAINT_BM3	FUNCTION	154	302	61	25	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"SERVO_ON_LIFT_PIN"	"Do you want to Start Program(Servo On)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	226	302	IMG		2018	""
SCHEDULER_MAINT_BM3	FUNCTION	226	302	61	25	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"SERVO_OFF_LIFT_PIN"	"Do you want to Start Program(Servo Off)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	298	302	IMG		2018	""
SCHEDULER_MAINT_BM3	FUNCTION	298	302	61	25	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"HOME_LIFT_PIN"	"Do you want to Start Program(Homing)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	562	305	IMG		2301	""
"UP"	TS_IN	586	306	TXTU_16(24:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM3	FUNCTION	562	305	68	30	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"UP_LIFT_PIN"	"Do you want to Start Program(Up)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	634	305	IMG		2301	""
"DOWN"	TS_IN	647	306	TXTU_16(46:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM3	FUNCTION	634	305	68	30	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"DOWN_LIFT_PIN"	"Do you want to Start Program(Down)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	706	305	IMG		2301	""
"ABS."	TS_IN	724	306	TXTU_16(36:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM3	FUNCTION	706	305	68	30	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"ABS_MOVE_LIFT_PIN"	"Do you want to Start Program(Absolute Move)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	778	305	IMG		2301	""
"REL."	TS_IN	798	306	TXTU_16(36:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM3	FUNCTION	778	305	68	30	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"REL_MOVE_LIFT_PIN"	"Do you want to Start Program(Relative Move)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	850	305	IMG		2303	""
"STOP"	TS_IN	865	306	TXTU_16(40:24:Arial:WLB:White)	0	""
SCHEDULER_MAINT_BM3	FUNCTION_ABORT	850	305	68	30	"\CTC.BM3M_CONTROL!=0"	""	"Do You Want to Abort Program (Stop)??"	"YES|Cancel"
CTC.BM3M_CONTROL	D_IN	922	305	IMG		2302	""
"RESET"	TS_IN	933	306	TXTU_16(46:24:Arial:WLB:White)	0	""
SCHEDULER_MAINT_BM3	FUNCTION	922	305	68	30	"\CTC.BM3M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"RESET_LIFT_PIN"	"Do you want to Start Program(Reset)??"	"YES|Cancel"
BM1LiftPinTargetPos	A_IN_OUT	370	310	TXTU_16(90:21:Arial:W:142:229)	8	""
BM1LiftPinTargetVel	A_IN_OUT	462	310	TXTU_16(90:21:Arial:W:142:229)	8	""
BM2LiftPinInitialized	D_IN	459	127	IMG		2705	""
BM2LiftPinEnabled	D_IN	521	127	IMG		2705	""
BM2LiftPinIsHomed	D_IN	583	127	IMG		2705	""
BM2LiftPinIsMoving	D_IN	645	127	IMG		2705	""
BM2LiftPinPLimit	D_IN	707	127	IMG		2705	""
BM2LiftPinNLimit	D_IN	769	127	IMG		2705	""
BM2LiftPinIsError	D_IN	831	127	IMG		2706	""
BM2LiftPinIsCommError	D_IN	893	127	IMG		2706	""
BM2LiftPinIsDrvError	D_IN	955	127	IMG		2706	""
BM2LiftPinActPos	A_IN	149	118	TXTU_17(109:30:Verdana:W:147:229)	8	""
BM2LiftPinActVel	A_IN	305	118	TXTU_17(109:30:Verdana:W:147:229)	8	""
CTC.BM4M_CONTROL	D_IN	82	337	IMG		2018	""
SCHEDULER_MAINT_BM4	FUNCTION	82	337	61	25	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"INIT_LIFT_PIN"	"Do you want to Start Program(Initialize)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	154	337	IMG		2018	""
SCHEDULER_MAINT_BM4	FUNCTION	154	337	61	25	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"SERVO_ON_LIFT_PIN"	"Do you want to Start Program(Servo On)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	226	337	IMG		2018	""
SCHEDULER_MAINT_BM4	FUNCTION	226	337	61	25	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"SERVO_OFF_LIFT_PIN"	"Do you want to Start Program(Servo Off)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	298	337	IMG		2018	""
SCHEDULER_MAINT_BM4	FUNCTION	298	337	61	25	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"HOME_LIFT_PIN"	"Do you want to Start Program(Homing)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	562	339	IMG		2301	""
"UP"	TS_IN	586	340	TXTU_16(24:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM4	FUNCTION	562	339	68	30	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"UP_LIFT_PIN"	"Do you want to Start Program(Up)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	634	339	IMG		2301	""
"DOWN"	TS_IN	647	340	TXTU_16(46:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM4	FUNCTION	634	339	68	30	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"DOWN_LIFT_PIN"	"Do you want to Start Program(Down)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	706	339	IMG		2301	""
"ABS."	TS_IN	724	340	TXTU_16(36:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM4	FUNCTION	706	339	68	30	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"ABS_MOVE_LIFT_PIN"	"Do you want to Start Program(Absolute Move)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	778	339	IMG		2301	""
"REL."	TS_IN	798	340	TXTU_16(36:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM4	FUNCTION	778	339	68	30	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"REL_MOVE_LIFT_PIN"	"Do you want to Start Program(Relative Move)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	850	339	IMG		2303	""
"STOP"	TS_IN	865	340	TXTU_16(40:24:Arial:WLB:White)	0	""
SCHEDULER_MAINT_BM4	FUNCTION_ABORT	850	339	68	30	"\CTC.BM4M_CONTROL!=0"	""	"Do You Want to Abort Program (Stop)??"	"YES|Cancel"
CTC.BM4M_CONTROL	D_IN	922	339	IMG		2302	""
"RESET"	TS_IN	933	340	TXTU_16(46:24:Arial:WLB:White)	0	""
SCHEDULER_MAINT_BM4	FUNCTION	922	339	68	30	"\CTC.BM4M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"RESET_LIFT_PIN"	"Do you want to Start Program(Reset)??"	"YES|Cancel"
BM2LiftPinTargetPos	A_IN_OUT	370	344	TXTU_16(90:21:Arial:W:142:229)	8	""
BM2LiftPinTargetVel	A_IN_OUT	462	344	TXTU_16(90:21:Arial:W:142:229)	8	""
LLALiftPinInitialized	D_IN	459	161	IMG		2705	""
LLALiftPinEnabled	D_IN	521	161	IMG		2705	""
LLALiftPinIsHomed	D_IN	583	161	IMG		2705	""
LLALiftPinIsMoving	D_IN	645	161	IMG		2705	""
LLALiftPinPLimit	D_IN	707	161	IMG		2705	""
LLALiftPinNLimit	D_IN	769	161	IMG		2705	""
LLALiftPinIsError	D_IN	831	161	IMG		2706	""
LLALiftPinIsCommError	D_IN	893	161	IMG		2706	""
LLALiftPinIsDrvError	D_IN	955	161	IMG		2706	""
LLALiftPinActPos	A_IN	149	152	TXTU_17(109:30:Verdana:W:147:229)	8	""
LLALiftPinActVel	A_IN	305	152	TXTU_17(109:30:Verdana:W:147:229)	8	""
CTC.BM1M_CONTROL	D_IN	82	372	IMG		2018	""
SCHEDULER_MAINT_BM1	FUNCTION	82	372	61	25	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"INIT_LIFT_PIN"	"Do you want to Start Program(Initialize)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	154	372	IMG		2018	""
SCHEDULER_MAINT_BM1	FUNCTION	154	372	61	25	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"SERVO_ON_LIFT_PIN"	"Do you want to Start Program(Servo On)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	226	372	IMG		2018	""
SCHEDULER_MAINT_BM1	FUNCTION	226	372	61	25	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"SERVO_OFF_LIFT_PIN"	"Do you want to Start Program(Servo Off)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	298	372	IMG		2018	""
SCHEDULER_MAINT_BM1	FUNCTION	298	372	61	25	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"HOME_LIFT_PIN"	"Do you want to Start Program(Homing)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	562	373	IMG		2301	""
"UP"	TS_IN	586	374	TXTU_16(26:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM1	FUNCTION	562	373	68	30	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"UP_LIFT_PIN"	"Do you want to Start Program(Up)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	634	373	IMG		2301	""
"DOWN"	TS_IN	647	374	TXTU_16(46:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM1	FUNCTION	634	373	68	30	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"DOWN_LIFT_PIN"	"Do you want to Start Program(Down)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	706	373	IMG		2301	""
"ABS."	TS_IN	724	374	TXTU_16(36:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM1	FUNCTION	706	373	68	30	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"ABS_MOVE_LIFT_PIN"	"Do you want to Start Program(Absolute Move)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	778	373	IMG		2301	""
"REL."	TS_IN	798	374	TXTU_16(36:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM1	FUNCTION	778	373	68	30	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"REL_MOVE_LIFT_PIN"	"Do you want to Start Program(Relative Move)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	850	373	IMG		2303	""
"STOP"	TS_IN	865	374	TXTU_16(40:24:Arial:WLB:White)	0	""
SCHEDULER_MAINT_BM1	FUNCTION_ABORT	850	373	68	30	"\CTC.BM1M_CONTROL!=0"	""	"Do You Want to Abort Program (Stop)??"	"YES|Cancel"
CTC.BM1M_CONTROL	D_IN	922	373	IMG		2302	""
"RESET"	TS_IN	933	374	TXTU_16(46:24:Arial:WLB:White)	0	""
SCHEDULER_MAINT_BM1	FUNCTION	922	373	68	30	"\CTC.BM1M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"RESET_LIFT_PIN"	"Do you want to Start Program(Reset)??"	"YES|Cancel"
LLALiftPinTargetPos	A_IN_OUT	370	378	TXTU_16(90:21:Arial:W:142:229)	8	""
LLALiftPinTargetVel	A_IN_OUT	462	378	TXTU_16(90:21:Arial:W:142:229)	8	""
LLBLiftPinInitialized	D_IN	459	195	IMG		2705	""
LLBLiftPinEnabled	D_IN	521	195	IMG		2705	""
LLBLiftPinIsHomed	D_IN	583	195	IMG		2705	""
LLBLiftPinIsMoving	D_IN	645	195	IMG		2705	""
LLBLiftPinPLimit	D_IN	707	195	IMG		2705	""
LLBLiftPinNLimit	D_IN	769	195	IMG		2705	""
LLBLiftPinIsError	D_IN	831	195	IMG		2706	""
LLBLiftPinIsCommError	D_IN	893	195	IMG		2706	""
LLBLiftPinIsDrvError	D_IN	955	195	IMG		2706	""
LLBLiftPinActPos	A_IN	149	186	TXTU_17(109:30:Verdana:W:147:229)	8	""
LLBLiftPinActVel	A_IN	305	186	TXTU_17(109:30:Verdana:W:147:229)	8	""
CTC.BM2M_CONTROL	D_IN	82	406	IMG		2018	""
SCHEDULER_MAINT_BM2	FUNCTION	82	406	61	25	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"INIT_LIFT_PIN"	"Do you want to Start Program(Initialize)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	154	406	IMG		2018	""
SCHEDULER_MAINT_BM2	FUNCTION	154	406	61	25	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"SERVO_ON_LIFT_PIN"	"Do you want to Start Program(Servo On)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	226	406	IMG		2018	""
SCHEDULER_MAINT_BM2	FUNCTION	226	406	61	25	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"SERVO_OFF_LIFT_PIN"	"Do you want to Start Program(Servo Off)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	298	406	IMG		2018	""
SCHEDULER_MAINT_BM2	FUNCTION	298	406	61	25	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"HOME_LIFT_PIN"	"Do you want to Start Program(Homing)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	562	408	IMG		2301	""
"UP"	TS_IN	586	409	TXTU_16(26:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM2	FUNCTION	562	408	68	30	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"UP_LIFT_PIN"	"Do you want to Start Program(Up)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	634	408	IMG		2301	""
"DOWN"	TS_IN	647	409	TXTU_16(46:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM2	FUNCTION	634	408	68	30	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"DOWN_LIFT_PIN"	"Do you want to Start Program(Down)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	706	408	IMG		2301	""
"ABS."	TS_IN	724	409	TXTU_16(36:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM2	FUNCTION	706	408	68	30	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"ABS_MOVE_LIFT_PIN"	"Do you want to Start Program(Absolute Move)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	778	408	IMG		2301	""
"REL."	TS_IN	798	409	TXTU_16(36:24:Arial:WLB)	0	""
SCHEDULER_MAINT_BM2	FUNCTION	778	408	68	30	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"REL_MOVE_LIFT_PIN"	"Do you want to Start Program(Relative Move)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	850	408	IMG		2303	""
"STOP"	TS_IN	865	409	TXTU_16(40:24:Arial:WLB:White)	0	""
SCHEDULER_MAINT_BM2	FUNCTION_ABORT	850	408	68	30	"\CTC.BM2M_CONTROL!=0"	""	"Do You Want to Abort Program (Stop)??"	"YES|Cancel"
CTC.BM2M_CONTROL	D_IN	922	408	IMG		2302	""
"RESET"	TS_IN	933	409	TXTU_16(46:24:Arial:WLB:White)	0	""
SCHEDULER_MAINT_BM2	FUNCTION	922	408	68	30	"\CTC.BM2M_CONTROL==0 && (CTC.TM_ControlStatus==3 || CTC.TM_ControlStatus==1)"	"RESET_LIFT_PIN"	"Do you want to Start Program(Reset)??"	"YES|Cancel"
LLBLiftPinTargetPos	A_IN_OUT	370	412	TXTU_16(90:21:Arial:W:142:229)	8	""
LLBLiftPinTargetVel	A_IN_OUT	462	412	TXTU_16(90:21:Arial:W:142:229)	8	""
