#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2026/6/26 10:14:17 for Popup 51)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		"$BACKGROUND\Popup_BackGround\BACKGROUND_Popup_SimulationWaferSet.png"
#--------
#--------
$	POPUP_CLOSE	378	0	IMG	2010	""
#--------
CTC.RUN_CONTROL	D_IN	115	76	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	104	1	0.000	0.000	0.000	"CM1 SET"	""	""
CTC.RUN_CONTROL	D_IN	115	105	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	104	1	0.000	0.000	0.000	"CM2 SET"	""	""
CTC.RUN_CONTROL	D_IN	115	133	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	104	1	0.000	0.000	0.000	"CM3 SET"	""	""
CTC.RUN_CONTROL	D_IN	115	160	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	104	1	0.000	0.000	0.000	"CM4 SET"	""	""
CTC.RUN_CONTROL	D_IN	303	76	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"CM1 RESET"	""	""
CTC.RUN_CONTROL	D_IN	303	105	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"CM2 RESET"	""	""
CTC.RUN_CONTROL	D_IN	303	133	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"CM3 RESET"	""	""
CTC.RUN_CONTROL	D_IN	303	160	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"CM4 RESET"	""	""
CTC.RUN_CONTROL	D_IN	115	216	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	104	1	0.000	0.000	0.000	"BM1 SET"	""	""
CTC.RUN_CONTROL	D_IN	115	245	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	104	1	0.000	0.000	0.000	"BM2 SET"	""	""
CTC.RUN_CONTROL	D_IN	303	216	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"BM1 RESET"	""	""
CTC.RUN_CONTROL	D_IN	303	245	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"BM2 RESET"	""	""
CTC.RUN_CONTROL	D_IN	303	188	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"FM(ALL) RESET"	""	""
CTC.RUN_CONTROL	D_IN	303	412	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"TM(ALL) RESET"	""	""
CTC.RUN_CONTROL	D_IN	303	441	IMGDLL	"k:/IMGDLL/fboxtext.dll"	""	125	25	16	32	0	0.000	0.000	0.000	"PM(ALL) RESET"	""	""
SCHEDULER	FUNCTION_EVENT	115	76	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE CM1|SET"	"Do You Want to Start CM1 SET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	115	105	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE CM2|SET"	"Do You Want to Start CM2 SET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	115	133	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE CM3|SET"	"Do You Want to Start CM3 SET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	115	160	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE CM4|SET"	"Do You Want to Start CM4 SET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	76	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE CM1|RESET"	"Do You Want to Start CM1 RESET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	105	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE CM2|RESET"	"Do You Want to Start CM2 RESET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	133	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE CM3|RESET"	"Do You Want to Start CM3 RESET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	160	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE CM4|RESET"	"Do You Want to Start CM4 RESET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	115	216	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE BM1|SET"	"Do You Want to Start BM1 SET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	115	245	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE BM2|SET"	"Do You Want to Start BM2 SET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	216	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE BM1|RESET"	"Do You Want to Start BM1 RESET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	245	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE BM2|RESET"	"Do You Want to Start BM2 RESET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	188	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE FMALL|RESET"	"Do You Want to Start FM RESET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	412	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE TMALL|RESET"	"Do You Want to Start TM RESET??"	"YES|Cancel"
SCHEDULER	FUNCTION_EVENT	303	441	125	25	"CTC.RUN_CONTROL==0"	"CASSETTE PMALL|RESET"	"Do You Want to Start PM RESET??"	"YES|Cancel"
