#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2020/11/25 16:5:53 for Popup 58)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		Blank
#--------
CM1.Mapping	D_IN	0	0	IMGB		507	""
"CM1"	TS_IN	-1	6	TXTU_24(84:23:Arial::White)	0	""
CTC.MAIN_STATUS	D_IN	163	31	TXTU_16(127:23:Arial::White)	0	""
CTC.IN_PATH	D_IN	170	55	TXTU_16(50:23:Arial::White)	0	""
CTC.OUT_PATH	D_IN	233	55	TXTU_16(50:23:Arial::White)	0	""
CTC.RECIPE_FILE	S_IN	163	77	TXTU_16(127:23:Arial::White)	0	""
CTC.JOB_NAME	S_IN	163	100	TXTU_16(127:23:Arial::White)	0	""
CTC.MID_NAME	S_IN	163	123	TXTU_16(127:23:Arial::White)	0	""
CM1.C01_Wafer	D_IN	7	159	IMG		3		"diLP_CM1_Placed!=0"
CM1.C02_Wafer	D_IN	7	155	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C03_Wafer	D_IN	7	151	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C04_Wafer	D_IN	7	147	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C05_Wafer	D_IN	7	143	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C06_Wafer	D_IN	7	133	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C07_Wafer	D_IN	7	129	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C08_Wafer	D_IN	7	125	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C09_Wafer	D_IN	7	121	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C10_Wafer	D_IN	7	117	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C11_Wafer	D_IN	7	107	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C12_Wafer	D_IN	7	103	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C13_Wafer	D_IN	7	99	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C14_Wafer	D_IN	7	95	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C15_Wafer	D_IN	7	91	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C16_Wafer	D_IN	7	81	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C17_Wafer	D_IN	7	77	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C18_Wafer	D_IN	7	73	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C19_Wafer	D_IN	7	69	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C20_Wafer	D_IN	7	65	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C21_Wafer	D_IN	7	55	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C22_Wafer	D_IN	7	51	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C23_Wafer	D_IN	7	47	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C24_Wafer	D_IN	7	43	IMG		9999	"diLP_CM1_Placed!=0"
CM1.C25_Wafer	D_IN	7	39	IMG		9999	"diLP_CM1_Placed!=0"
#$			D_INM	163	147	IMG	250	""	diUCLMP_CM1_Status	diCLMP_CM1_Status
diLP_CM1_Clamp_Status	D_IN	163	147	IMG		251	""
diLP_CM1_Placed	D_IN	6	35	IMG		524	"diLP_CM1_Placed==0"
