#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2023/4/7 9:28:52 for Popup 52)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		Blank
#--------
-	D_DRAW	0	0	IMG		510	""
"PM2"	TS_IN	0	2	TXTU_24(81:43:Arial::White)	0	""
#--------
$	POPUP	265	0	IMG	1801	""	"PM2 Parameter Information"	*	"$Popup_Main_PM2_Information.cfg"	0	0	0	0	0	0
#--------
PM2.avRCP_Progress	A_IN	83	138	IMGDLL	"K:\imgdll\BarGraph.dll"	""	0	37	4	220	20	39.000	0.000	0.000	""	""	""
CTC.PM2_ControlStatus	D_IN	125	1	TXTU_16(95:24:Arial:)	0	""
PM2.svRCP_Name	S_IN	81	44	TXTU_16(111:23:Arial::White)	0	""
PM2.avRCP_Total_RunTime	A_IN	96	67	TXTU_16(35:23:Arial::White)	0	""
PM2.avRCP_Total_SetTime	A_IN	152	67	TXTU_16(35:23:Arial::White)	0	""
PM2.svRCP_Process_Message	S_IN	0	113	TXTU_16(303:23:Arial::White)	0	""
PM2.svRCP_StepName	S_IN	192	44	TXTU_16(111:23:Arial::White)	0	""
PM2.avRCP_Step_RunTime	A_IN	207	67	TXTU_16(35:23:Arial::White)	0	""
PM2.avRCP_Step_SetTime	A_IN	264	67	TXTU_16(35:23:Arial::White)	0	""
PM2.dvRCP_StepNumber	D_IN	200	91	TXTU_16(29:23:Arial::White)	0	""
PM2.dvRCP_MaxStep	D_IN	232	91	TXTU_16(29:23:Arial::White)	0	""
