#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2020/11/16 15:21:56 for Popup 86)
#-----------------------------------------------------------------------------------------------------------
dvBM1_Info	D_IN	43	31	IMG		501	""
CTC.FA_Wafer_Result	D_IN	43	31	IMG		2	"CTC.FA_Wafer_Status>0"
CTC.FA_Wafer_Source	D_IN	48	21	TXTU_14(35:25:Arial:W:White)	0	"CTC.FA_Wafer_Status>0"
CTC.FA_Wafer_Status	D_IN	63	21	TXTU_14(35:25:Arial:W:White)	0	"CTC.FA_Wafer_Status>0"
CTC.FB_Wafer_Result	D_IN	43	40	IMG		2	"CTC.FB_Wafer_Status>0"
CTC.FB_Wafer_Source	D_IN	48	31	TXTU_14(35:25:Arial:W:White)	0	"CTC.FB_Wafer_Status>0"
CTC.FB_Wafer_Status	D_IN	63	31	TXTU_14(35:25:Arial:W:White)	0	"CTC.FB_Wafer_Status>0"
"FM"	TS_IN	53	8	TXTU_16(40:25:Arial:W:White)	0	""
"A"	TS_IN	15	21	TXTU_12(40:25:Arial:W:White)	0	""
"B"	TS_IN	15	33	TXTU_12(40:25:Arial:W:White)	0	""
