#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2021/8/25 10:26:40 for Popup 82)
#-----------------------------------------------------------------------------------------------------------
-	D_DRAW	0	0	IMG		512	""
CM1.C01_Wafer	D_IN	33	240	IMG		F4009	""
CM1.C02_Wafer	D_IN	33	233	IMG		F4009	""
CM1.C03_Wafer	D_IN	33	226	IMG		F4009	""
CM1.C04_Wafer	D_IN	33	219	IMG		F4009	""
CM1.C05_Wafer	D_IN	33	212	IMG		F4009	""
CM1.C06_Wafer	D_IN	33	192	IMG		F4009	""
CM1.C07_Wafer	D_IN	33	185	IMG		F4009	""
CM1.C08_Wafer	D_IN	33	178	IMG		F4009	""
CM1.C09_Wafer	D_IN	33	171	IMG		F4009	""
CM1.C10_Wafer	D_IN	33	164	IMG		F4009	""
CM1.C11_Wafer	D_IN	33	144	IMG		F4009	""
CM1.C12_Wafer	D_IN	33	137	IMG		F4009	""
CM1.C13_Wafer	D_IN	33	130	IMG		F4009	""
CM1.C14_Wafer	D_IN	33	123	IMG		F4009	""
CM1.C15_Wafer	D_IN	33	116	IMG		F4009	""
CM1.C16_Wafer	D_IN	33	96	IMG		F4009	""
CM1.C17_Wafer	D_IN	33	89	IMG		F4009	""
CM1.C18_Wafer	D_IN	33	82	IMG		F4009	""
CM1.C19_Wafer	D_IN	33	75	IMG		F4009	""
CM1.C20_Wafer	D_IN	33	68	IMG		F4009	""
CM1.C21_Wafer	D_IN	33	48	IMG		F4009	""
CM1.C22_Wafer	D_IN	33	41	IMG		F4009	""
CM1.C23_Wafer	D_IN	33	34	IMG		F4009	""
CM1.C24_Wafer	D_IN	33	27	IMG		F4009	""
CM1.C25_Wafer	D_IN	33	20	IMG		F4009	""
