$START_FUNCTION	SCHEDULER_BUTTON	"START PM2"
$END_FUNCTION	SCHEDULER_BUTTON	"STOP PM2"
$START_D_IO		CTC.PM2M_CONTROL	1
$END_D_IO		CTC.PM2M_CONTROL	0

#"PROCESS"		    SCHEDULER_PROCESS_PM1	NEW 	F:MAINTENANCE D:CTC.PM1_Wafer_Status F:RECIPE\%s\PROCESS\PM1 S:PM1.svRCP_File

"PROCESS"		    SEQ_PM2_CHAMBER_CONTROL	    NEW	F:PROCESS

"GO_INIT"			SEQ_PM2_CHAMBER_CONTROL		NEW	F:GO_INIT
"GO_MAINT"		    $DEFAULT					    SUCCESS
"GO_STANDBY"		SEQ_PM2_CHAMBER_CONTROL		NEW	F:GO_STANDBY

"PUMP_DOWN"			SEQ_PM2_CHAMBER_CONTROL	    NEW	F:PUMP_DOWN
"VENT"				SEQ_PM2_CHAMBER_CONTROL	    NEW	F:VENT