#-----------------------------------------------------------
# Recipe Information
#-----------------------------------------------------------

FILE_ID		""
RECIPE_ID	""
MAX_STEP	200
FUNCTION	"PM1.SEQ_PROCESS"

UPLOAD_FILTERING	ON
STEP0_FILE_MIXING	ON
