*action_group INIT {
	INTLKS_CONTROL = 0;

	diLP_CM1_Ready_Status = 1;

	diLP_CM1_Home_Status = 1;
}





##==================================================================================================
# CM1
*action_group CM1_PORT_HOME_CONTROL {
	diLP_CM1_Ready_Status = 0;
	diLP_CM1_Home_Status = 0;
	#$Time:ms = dpSIM_CM1_Home_Time;
	diLP_CM1_Home_Status = 1;
	diLP_CM1_Ready_Status = 1;
	if ( doLP_CM1_Homing == 1 ) doLP_CM1_Homing = 0;
}

*if ( doLP_CM1_Homing == 1 ) {
	$action = CM1_PORT_HOME_CONTROL;
}

*action_group CM1_PORT_LOAD_CONTROL {
	diLP_CM1_Ready_Status = 0;
	
	if ( doLP_CM1_Load == 1 && diLP_CM1_Shuttle_Status != 1 ) doLP_CM1_Docking = 1;
	if ( doLP_CM1_Load == 1 && diLP_CM1_Door_Status != 1 ) doLP_CM1_Door_Ctrl = 1;
	if ( doLP_CM1_Unload == 1 && diLP_CM1_Door_Status != 0 ) doLP_CM1_Door_Ctrl = 0;
	if ( doLP_CM1_Unload == 1 && diLP_CM1_Shuttle_Status != 0 ) doLP_CM1_Docking = 0;
	
	if ( doLP_CM1_Load == 1 ) doLP_CM1_Docking = 1;
	if ( doLP_CM1_Load == 1 ) doLP_CM1_Door_Ctrl = 1;

	if ( doLP_CM1_Unload == 1 ) doLP_CM1_Door_Ctrl = 0;
	if ( doLP_CM1_Unload == 1 ) doLP_CM1_Docking = 0;

	if ( doLP_CM1_Load == 1 && diLP_CM1_Shuttle_Status == 2 && diLP_CM1_Door_Status == 1 ) CM1.Mapping = 1;

	if ( doLP_CM1_Load == 1 && diLP_CM1_Shuttle_Status == 2 && diLP_CM1_Door_Status == 1 ) diLP_CM1_Ready_Status = 1;
	if ( doLP_CM1_Unload == 1 && diLP_CM1_Shuttle_Status == 0 && diLP_CM1_Door_Status == 0 ) diLP_CM1_Ready_Status = 1;
	
	if ( doLP_CM1_Load == 1 ) CM1.Mapping = 0;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr01 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr02 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr03 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr04 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr05 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr06 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr07 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr08 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr09 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr10 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr11 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr12 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr13 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr14 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr15 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr16 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr17 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr18 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr19 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr20 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr21 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr22 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr23 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr24 = 1;
	if ( doLP_CM1_Load == 1 ) diLP_CM1_Wfr25 = 1;

	if ( doLP_CM1_Load == 1 && diLP_CM1_Shuttle_Status == 2 && diLP_CM1_Door_Status == 1 ) doLP_CM1_Load = 0;
	if ( doLP_CM1_Unload == 1 && diLP_CM1_Shuttle_Status == 0 && diLP_CM1_Door_Status == 0 ) doLP_CM1_Unload = 0;
}

*if ( ( doLP_CM1_Load == 1 ) || ( doLP_CM1_Unload == 1 ) ) {
	if ( ( doLP_CM1_Load == 1 ) )	 $action = CM1_PORT_LOAD_CONTROL;
	if ( ( doLP_CM1_Unload == 1 ) )	 $action = CM1_PORT_LOAD_CONTROL;
}

*action_group CM1_PORT_DOOR_CONTROL {
	diLP_CM1_Ready_Status = 0;
	if ( doLP_CM1_Door_Ctrl == 0 ) diLP_CM1_Door_Status = 0;
	if ( doLP_CM1_Door_Ctrl == 1 ) diLP_CM1_Door_Status = 1;
	if ( ( doLP_CM1_Load != 1 ) && ( doLP_CM1_Unload != 1 ) ) diLP_CM1_Ready_Status = 1;
}

*if ( ( doLP_CM1_Door_Ctrl == 1 ) || ( doLP_CM1_Door_Ctrl == 0 ) ) {
	if ( ( doLP_CM1_Door_Ctrl == 0 ) && ( diLP_CM1_Door_Status != 0 ) )	 $action = CM1_PORT_DOOR_CONTROL;
	if ( ( doLP_CM1_Door_Ctrl == 1 ) && ( diLP_CM1_Door_Status != 1 ) )	 $action = CM1_PORT_DOOR_CONTROL;
}

*action_group CM1_PORT_DOCK_CONTROL {
	diLP_CM1_Ready_Status = 0;
	#if ( doLP_CM1_Load == 1 )	$Time:ms = dpSIM_CM1_Dock_Time;
	if ( doLP_CM1_Docking == 0 ) diLP_CM1_Shuttle_Status = 0;
	if ( doLP_CM1_Docking == 1 ) diLP_CM1_Shuttle_Status = 2;
	if ( ( doLP_CM1_Load != 1 ) && ( doLP_CM1_Unload != 1 ) ) diLP_CM1_Ready_Status = 1;
}

*if ( ( doLP_CM1_Docking == 1 ) || ( doLP_CM1_Docking == 0 ) ) {
	if ( ( doLP_CM1_Docking == 0 ) && ( diLP_CM1_Shuttle_Status != 0 ) )	 $action = CM1_PORT_DOCK_CONTROL;
	if ( ( doLP_CM1_Docking == 1 ) && ( diLP_CM1_Shuttle_Status != 2 ) )	 $action = CM1_PORT_DOCK_CONTROL;
}

*action_group CM1_PORT_CLAMP_CONTROL {
	if ( doLP_CM1_Clamp == 0 && doLP_CM1_UnClamp == 1 ) diLP_CM1_Clamp_Status = 0;
	if ( doLP_CM1_Clamp == 1 && doLP_CM1_UnClamp == 0 ) diLP_CM1_Clamp_Status = 1;
}

*if ( ( doLP_CM1_Clamp == 1 ) || ( doLP_CM1_UnClamp == 1 ) ) {
	if ( ( doLP_CM1_Clamp == 1 ) && ( diLP_CM1_Clamp_Status != 1 ) )	 $action = CM1_PORT_CLAMP_CONTROL;
	if ( ( doLP_CM1_UnClamp == 1 ) && ( diLP_CM1_Clamp_Status != 0 ) )	 $action = CM1_PORT_CLAMP_CONTROL;
}

*if ( diLP_CM1_Placed == 0 ) {	diLP_CM1_Present = 0;	}
*if ( diLP_CM1_Placed == 1 ) {	diLP_CM1_Present = 1;	}
	
*if ( diLP_CM1_Ready_Status == 1 ) { diLP_CM1_Run_Status = 0; }
*if ( diLP_CM1_Ready_Status == 0 ) { diLP_CM1_Run_Status = 1; }

