#-----------------------------------------------------------------------------------------------------------
# GDF MANAGER Version 6.0(2017.03.01) (Edit Date:2019/10/2 15:46:32 for Popup 50)
#-----------------------------------------------------------------------------------------------------------
#--------
$LINK_BACKGROUND		3
#--------
"Define Program Information"	TS_IN	32	135	TXTU_16(238:77::W:White)	0	""
CTC.RUN_CONTROL	D_IN	207	251	IMG		1414	"(UserLevelControl>3)"
-	FUNCTION_EXIT	207	251	68	68	"\(CTC.RUN_CONTROL==0)&&(UserLevelControl>3)"	""	"Do You Want to Exit System??"	"YES|Cancel"
#--------
$	POPUP_CLOSE	201	1	IMG	1413	""
#--------
